beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
classes==0.1.0
clear-screen==0.1.14
emoji-unicode==0.4
ffmpeg-python==0.2.0
google-images-download==2.8.0
ImageHash==4.2.0
lxml==4.6.3
numpy==1.20.3
opencv-python==4.5.3.56
parso==0.8.1
Pillow==8.2.0
PyYAML==5.4.1
qasync==0.13.0
requests==2.25.1
scipy==1.6.3
selenium==3.141.0
six==1.15.0
soup2dict==1.0.1
soupsieve==2.2.1
typing-extensions==3.10.0.0
urllib3==1.26.2
vk==2.0.2
vk-api==11.9.1
wonderwords==2.2.0
xml-to-dict==0.1.6
